/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
packages
*/node_modules
*/node_modules/*
obj/*
obj/Debug
obj/Debug/*
*/**/obj/Debug
obj/Debug/netcoreapp2.0/NewDictionary.dll
obj/Debug/netcoreapp2.0/NewDictionary.AssemblyInfo.cs
obj/Debug/netcoreapp2.0/NewDictionary.dll
obj/Debug/netcoreapp2.0/NewDictionary.pdb
obj/Debug/netcoreapp2.0/NewDictionary.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.0/NewDictionary.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/NewDictionary.csproj.FileListAbsolute.txt
obj/project.assets.json
obj/Debug/netcoreapp2.0/NewDictionary.csprojAssemblyReference.cache
obj/NewDictionary.csproj.nuget.cache
obj/NewDictionary.csproj.nuget.g.props
obj/NewDictionary.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.0/NewDictionary.dll
obj/Debug/netcoreapp2.0/NewDictionary.pdb
obj/Debug/netcoreapp2.0/NewDictionary.AssemblyInfo.cs
obj/Debug/netcoreapp2.0/NewDictionary.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/NewDictionary.csproj.FileListAbsolute.txt
