/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
packages
*/node_modules
*/node_modules/*
obj/*
obj/Debug
obj/Debug/*
*/**/obj/Debug