@page
@model CreateModel

@{
    ViewData["Title"] = "Create";
}
<br />
 <div class="panel-group col-sm-offset-2 col-sm-8 col-sm-offset-2">
    <div class="panel panel-primary">
        <div class="panel-heading">Create Word</div>
            <div class="panel-body">
                <form method="post" class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Word.English" class="control-label col-sm-4"></label>
                        <div class="col-sm-8">
                            <input asp-for="Word.English" class="form-control" />
                            <span asp-validation-for="Word.English" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Word.Tamil" class="control-label col-sm-4"></label>
                        <div class="col-sm-8">
                            <input asp-for="Word.Tamil" class="form-control" />
                            <span asp-validation-for="Word.Tamil" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Word.Irula" class="control-label col-sm-4"></label>
                        <div class="col-sm-8">
                            <input asp-for="Word.Irula" class="form-control" />
                            <span asp-validation-for="Word.Irula" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Word.Toda" class="control-label col-sm-4"></label>
                        <div class="col-sm-8">
                            <input asp-for="Word.Toda" class="form-control" />
                            <span asp-validation-for="Word.Toda" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Word.Pania" class="control-label col-sm-4"></label>
                        <div class="col-sm-8">
                            <input asp-for="Word.Pania" class="form-control" />
                            <span asp-validation-for="Word.Pania" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Word.Maduva" class="control-label col-sm-4"></label>
                        <div class="col-sm-8">
                            <input asp-for="Word.Maduva" class="form-control" />
                            <span asp-validation-for="Word.Maduva" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Word.Meaning" class="control-label col-sm-4"></label>
                        <div class="col-sm-8">
                            <input asp-for="Word.Meaning" class="form-control" />
                            <span asp-validation-for="Word.Meaning" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Word.PartOfSpeech" class="control-label col-sm-4"></label>
                        <div class="col-sm-8">
                            <select asp-for="Word.PartOfSpeech">
                                <option value="NOUN">NOUN</option>
                                <option value="VERB">VERB</option>
                                <option value="ADVERB">ADVERB</option>
                                <option value="PRONOUN">PRONOUN</option>
                            </select>
                            <span asp-validation-for="Word.PartOfSpeech" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Word.Categories" class="control-label col-sm-4"></label>
                        <div class="col-sm-8">
                            <input asp-for="Word.Categories" class="form-control" />
                            <span asp-validation-for="Word.Categories" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8 text-right">
                        <button type="submit" class="btn btn-default">Create</button>
                        <a asp-page="Index">Back to List</a>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div> -->
                </form>
            </div>
        </div>
    </div>
</div>
<!-- <div>
    <a asp-page="Index">Back to List</a>
</div> -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    // Load the Google Transliterate API
      google.load("elements", "1", {
            packages: "transliteration"
          });

      var transliterationControl;
      function onLoad() {
        var options = {
            sourceLanguage: 'en',
            destinationLanguage: ['ta'],
            transliterationEnabled: true,
            shortcutKey: 'ctrl+g'
        };
        // Create an instance on TransliterationControl with the required
        // options.
        transliterationControl =
          new google.elements.transliteration.TransliterationControl(options);

        // Enable transliteration in the textfields with the given ids.
        var ids = [ "Word_Tamil" ];
        transliterationControl.makeTransliteratable(ids);
      }
      google.setOnLoadCallback(onLoad);
    </script>
}